<a href="https://colab.research.google.com/github/santhoshv6/ADI_CV2/blob/main/Python_basics_own.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Baics Start**

In [ ]:
print("hello")

hello

#**Variables**

In [10]:
age=20
price=19.95
first_name="John"
is_online=True
print(age)

20

# **Reciving Inputs**

In [8]:
name=input("what is your name?  ")
print("hello "+name)

what is your name?  John
hello John

# **Type Conversion**

In [12]:
birth_year=input("Enter you birth year: ")
age=2025-int(birth_year)
print(age)

# int()
# float()
# bool()
# str()

Enter you birth year: 1993
32

In [22]:
first=input("Fist: ")
second=input("Second: ")
sum=float(first)+float(second)
print(sum)

print(first+second)

print("Sum: "+str(sum))

Fist: 1.1
Second: 2
3.1
1.12
Sum: 3.1

# **Strings**

In [32]:
course="Python refresher"
print(course.upper())
print(course)
print(course.replace(' ',"#"))
print(course.find("Python"))
print("Python" in course)

PYTHON REFRESHER
Python refresher
Python#refresher
0
True

# **Arithmetic Operators**