<a href="https://colab.research.google.com/github/santhoshv6/ADI_CV2/blob/main/Python_basics_own.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Baics Start**

In [ ]:
print("hello")

hello

#**Variables**

In [ ]:
age=20
price=19.95
first_name="John"
is_online=True
print(age)

20

# **Reciving Inputs**

In [ ]:
name=input("what is your name?  ")
print("hello "+name)

what is your name?  John
hello John

# **Type Conversion**

In [ ]:
birth_year=input("Enter you birth year: ")
age=2025-int(birth_year)
print(age)

# int()
# float()
# bool()
# str()

Enter you birth year: 1993
32

In [ ]:
first=input("Fist: ")
second=input("Second: ")
sum=float(first)+float(second)
print(sum)

print(first+second)

print("Sum: "+str(sum))

Fist: 1.1
Second: 2
3.1
1.12
Sum: 3.1

# **Strings**

In [ ]:
course="Python refresher"
print(course.upper())
print(course)
print(course.replace(' ',"#"))
print(course.find("Python"))
print("Python" in course)

PYTHON REFRESHER
Python refresher
Python#refresher
0
True

# **Arithmetic Operators**

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
x=10
x=x+3
print(x)

x+=2 # augmented assigmnet operator
print(x)

13
15

#**Operator Precedence** - BODMAS

In [ ]:
print(10+3*2)
print((10+3)*2)

16
26

# **Comparison Operators**

In [ ]:
x=3>2
print(x)

# >, <, >=, <=, ==, !=

True

#**Logical Operators**

In [ ]:
price=25
print(price>10 and price<30)
print(not price >10)

# and, or, not

True
False

# **If statements**

In [ ]:
temp=13

if temp>30:
  print("hot day")
elif temp>20:
  print("nice day")
else:
  print("cold day")
print("done")
  # else
  # print("cold day")

cold day
done

# **Exercise**

In [70]:
wgt=float(input("Weight: "))
wgt_met=input("(K)g or (L)bs: ")

if  "l" in wgt_met.lower():
  print("Weight in Kg: " + str(wgt * .45))
elif "k" in wgt_met.lower():
  print("Weight in LBS: " + str(wgt / .45))

Weight: 10
(K)g or (L)bs: k
Weight in LBS: 22.22222222222222

# **While Loop**

In [77]:
i=1
while i<=1_0:
  print(i * "*")
  i+=1

*
**
***
****
*****
******
*******
********
*********
**********

In [74]:
#1_0+3

13

# **Lists**

In [87]:
names=["John","Bob","Mary"]
print(names)
print(names[0])
print(names[-1])
print(names[-2])

names[0]="Jon"
print(names)
print(names[0:2])

['John', 'Bob', 'Mary']
John
Mary
Bob
['Jon', 'Bob', 'Mary']
['Jon', 'Bob']

#**List Methods**

In [97]:
from ctypes import POINTER
"a".capitalize()
num=[1,2,3]
num.append(4)
print(num)
num.insert(1,-1)
print(num)
num.remove(3)
print(num)
num.clear()
print(num)

num=[1,2,3]
print(1 in num)
print(len(num))

[1, 2, 3, 4]
[1, -1, 2, 3, 4]
[1, -1, 2, 4]
[]
True
3

# **For loop**

In [100]:
num=[1,2,3,4,5]
print(num)

for i in num:
  print(i)

i=0
while i<len(num):
  print(num[i])
  i+=1

[1, 2, 3, 4, 5]
1
2
3
4
5
1
2
3
4
5

# **Range Function**

In [107]:
num=range(5)
print(num)

for i in num:
  print(i)

num=range(5,10)
print(num)

for i in range(5,10):
  print(i)

num=range(5,10,2)
print(num)

for i in range(5,10,2):
  print(i)

range(0, 5)
0
1
2
3
4
range(5, 10)
5
6
7
8
9
range(5, 10, 2)
5
7
9

# **Tuples**

In [111]:
num=(1,2,3,4,5)
print(num.count)

<built-in method count of tuple object at 0x7e4b71694130>