<a href="https://colab.research.google.com/github/santhoshv6/ADI_CV2/blob/main/Python_basics_own.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Baics Start**

In [ ]:
print("hello")

hello

#**Variables**

In [ ]:
age=20
price=19.95
first_name="John"
is_online=True
print(age)

20

# **Reciving Inputs**

In [ ]:
name=input("what is your name?  ")
print("hello "+name)

what is your name?  John
hello John

# **Type Conversion**

In [ ]:
birth_year=input("Enter you birth year: ")
age=2025-int(birth_year)
print(age)

# int()
# float()
# bool()
# str()

Enter you birth year: 1993
32

In [ ]:
first=input("Fist: ")
second=input("Second: ")
sum=float(first)+float(second)
print(sum)

print(first+second)

print("Sum: "+str(sum))

Fist: 1.1
Second: 2
3.1
1.12
Sum: 3.1

# **Strings**

In [ ]:
course="Python refresher"
print(course.upper())
print(course)
print(course.replace(' ',"#"))
print(course.find("Python"))
print("Python" in course)

PYTHON REFRESHER
Python refresher
Python#refresher
0
True

# **Arithmetic Operators**

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
x=10
x=x+3
print(x)

x+=2 # augmented assigmnet operator
print(x)

13
15

#**Operator Precedence** - BODMAS

In [ ]:
print(10+3*2)
print((10+3)*2)

16
26

# **Comparison Operators**

In [ ]:
x=3>2
print(x)

# >, <, >=, <=, ==, !=

True

#**Logical Operators**

In [ ]:
price=25
print(price>10 and price<30)
print(not price >10)

# and, or, not

True
False

# **If statements**

In [ ]:
temp=13

if temp>30:
  print("hot day")
elif temp>20:
  print("nice day")
else:
  print("cold day")
print("done")
  # else
  # print("cold day")

cold day
done

# **Exercise**

In [67]:
wgt=float(input("Weight: "))
wgt_met=input("(K)g or (L)bs: ")

if  "l" in wgt_met.lower():
  print("Weight in Kg: " + str(wgt / 2.2046))
elif "k" in wgt_met.lower():
  print("Weight in LBS: " + str(wgt * 2.2046))

Weight: 10
(K)g or (L)bs: l
Weight in Kg: 4.535970244035199

In [62]:
test="kg"
print(test.lower())

kg